<%- include('./partials/header') %>
</head>
  <body onload="startGame('<%=JSON.stringify(characters)%>')">
    <% if (started) { %>
      <div class="scoreboard">
        <p>SCORE: <%= score %></p>
        <p>PLAYS REMAINING: <%= plays %></p>
      </div>
      <div class="triangle-container">
        <div class="top-circle circle" id="circle0" onclick="(pickCircle(0))">
        </div>
        <div class="bottom-circles">
            <div class="circle" id="circle1" onclick="(pickCircle(1))">
            </div>
            <div class="circle" id="circle2" onclick="(pickCircle(2))">
            </div>
        </div>
      </div>
      <form action="/answer-game" method="POST" class="button-container">
        <input type="text" id="circleID" name="circle" value="0" style="display:none;">
        <input type="text" id="actionID" name="action" value="0" style="display:none;">
        <button class="action-btn" onclick="doAct(0)">
          <input type=submit id="submit" style="display:none;">
          give compliment
        </button>
        <button class="action-btn" onclick="doAct(1)">
          <input type=submit id="submit" style="display:none;">
          offer help
        </button>
        <button class="action-btn" onclick="doAct(2)">
          <input type=submit id="submit" style="display:none;">
          invite to event
        </button>
      </form>
      <div class="update-button-wrapper">
        <form action="/reset-plays" method="POST">
          <button class="action-btn" type="submit">Update plays</button>
        </form>
      </div>
    <% } else { %>
      <div class="startgame-container">
        <p>Welcome to Social Circles! To get a high score, you must choose actions that boost happiness. Check the characters page to see how actions effect different characters. Click start game to begin!</p>
        <button id="startGame" onclick="ok()">Start Game</button>
      </div>
    <% } %>
    <script>
      var game = null;
      var pickedCircle = null;
      var otherColor = "lightblue";
      var pickedColor = "teal";

      function startGame(characters) {
        let parsed_characters = JSON.parse(characters);
        for (let i = 0; i <= 2; i++) {
          let result = '';
          for (let j = 0; j <= 2; j++) {
            result = result + '<p>' + parsed_characters[i * 3 + j].name + '</p>';
          }
          document.getElementById('circle' + i).innerHTML = result;
          document.getElementById("circle0").style.backgroundColor = pickedColor;

        }

      }

      function ok() {
        fetch('/start-game', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        }).then(response => {
            if (response.ok) {
                window.location.reload(); // Reload page to reflect game start
            }
        });
      }

      
      function doAct(action) {
        console.log("you picked action " + action + " on circle " + pickedCircle);
        document.getElementById("circleID").value = pickedCircle;
        document.getElementById("actionID").value = action;
        //console.log(game.doAction(pickedCircle,action));
      }

      function pickCircle(circleNumber) {
        if (pickedCircle != circleNumber) {
          pickedCircle = circleNumber;
          console.log(circleNumber);
          document.getElementById("circle0").style.backgroundColor = otherColor;
          document.getElementById("circle1").style.backgroundColor = otherColor;
          document.getElementById("circle2").style.backgroundColor = otherColor;
          document.getElementById("circle" + circleNumber).style.backgroundColor = pickedColor;
        }
      }
    </script>
  </body>
  
</html>