<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="login-container">
        <h2>Social Circles Login</h2>

        <!-- Display any error messages -->
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>

        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Enter Username" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <button type="submit">Login</button>
        </form>

        <p>Don't have an account? <a href="/signup">Sign Up here</a></p>
    </div>
  </body>
</html>
