<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="login-container">
        <h2>form needed</h2>
        <a href="/">
            <button class="button">Sign Up</button>
        </a>
    </div>
    
</body>
</html>